/* Font Titre */
/* font-family: 'Shrikhand', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* Font Texte */
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: initial;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

a:link {
  text-decoration: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

/* Colors */
/* Fonts */
a.logo {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  display: block;
  margin: auto;
  padding: 10px 0;
  border: 10px black;
  text-align: center;
  cursor: pointer;
}

footer {
  background: #353535;
  padding: 18px 0;
}

a.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  display: block;
  margin: auto;
  cursor: pointer;
  color: #FFFFFF;
  padding: 15px 25px;
}

a.footer__link {
  padding: 15px 25px;
  line-height: 24px;
  color: #FFFFFF;
  cursor: pointer;
}

i.footer__icon {
  color: #FFFFFF;
  margin-right: 15px;
}

/* Colors */
/* Fonts */
/* Main */
main {
  background-color: #F6F6F6;
}

h1, h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 14px 0px;
}

/* Components */
.local {
  background-color: #EAEAEA;
  text-align: center;
  height: 50px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 3px 9px 0px rgba(0, 0, 0, 0.15);
}
.local__text, .local__icon {
  color: #353535;
  text-align: center;
}
.local__text {
  margin-left: 10px;
}

.hero {
  padding: 35px 0 55px;
  text-align: center;
  gap: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.hero__title {
  padding: 0px 48px;
}
.hero__subtitle {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  line-height: 21px;
}
.hero__btn {
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  color: white;
  border: none;
  width: 60%;
  height: 50px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.hero__btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}

/* Middle Section */
.functioning {
  background-color: #FFFFFF;
  padding: 45px 15px;
}
.functioning__step {
  background: #F6F6F6;
  border-radius: 20px;
  height: 65px;
  width: 75vw;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  margin: 0 auto 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: unset;
  cursor: pointer;
  position: relative;
  padding-left: 35px;
}
.functioning__step:hover {
  background: #F6F6F6;
}
.functioning__step:hover .functioning__icon {
  color: #9356DC;
}
.functioning__steps {
  text-align: center;
}

.functioning__icon {
  color: rgb(144, 142, 142);
  width: 20px;
}

span.number {
  background: #9356DC;
  padding: 5px 9px;
  border-radius: 15px;
  right: 66px;
  color: #FFFFFF;
  position: absolute;
  left: -12px;
  width: 8px;
}

p.text {
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}

/* Bottom Section */
section.restaurants {
  padding: 45px 15px;
}

.restaurant__card {
  position: relative;
  background: #FFFFFF;
  width: 85vw;
  height: 225px;
  margin: 10px 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

article.restaurants_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

span.card__badge {
  position: absolute;
  background: #99E2D0;
  color: #008766;
  padding: 5px 10px;
  border-radius: 2px;
  top: 20px;
  right: 15px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

h3.card__title {
  font-weight: 700;
  font-size: 18px;
}

p.card__subtitle {
  font-weight: 300;
  font-size: 17px;
}

.card__content {
  display: flex;
  justify-content: space-between;
}

i.card__like.menu__like.menu__like--noBg.far.fa-heart.fa-2x {
  color: black;
  position: absolute;
  bottom: 30px;
  right: 15px;
  font-size: 24px;
  transition: color 1s ease-out;
}

i.card__like.menu__like.menu__like--bg.fas.fa-heart.fa-2x {
  color: transparent;
  position: absolute;
  bottom: 30px;
  right: 15px;
  font-size: 24px;
  transition: color 1s ease-out;
}
i.card__like.menu__like.menu__like--bg.fas.fa-heart.fa-2x.card__like.menu__like.menu__like--bg.fas.fa-heart.fa-2x:hover {
  color: #FF79DA;
}

.card__txt {
  display: flex;
  gap: 8px;
  padding: 12px;
  flex-direction: column;
}

/*# sourceMappingURL=output.css.map */
