@import '_fonts.scss';

$font-primary: 'Roboto', sans-serif;

// Mixins
@mixin reset-margins-paddings {
  margin: 0;
  padding: 0;
}

@mixin reset-list {
  list-style: none;
}

@mixin reset-text {
  text-decoration: none;
}

@mixin block-display {
  display: block;
}

@mixin border-collapse {
  border-collapse: collapse;
  border-spacing: 0;
}

@mixin vertical-align-baseline {
  vertical-align: baseline;
}

// Reset global
* {
  @include reset-margins-paddings();
  border: 0;
  font-size: 100%;
  font: inherit;
  @include vertical-align-baseline();
  box-sizing: border-box;
  color: initial;
}

// Reset for specific elements
html,
body {
  font-family: $font-primary;
  scroll-behavior: smooth;
  line-height: 1.05;
}

ol,
ul {
  @include reset-list();
}

a:link {
  @include reset-text();
}

blockquote,
q {
  quotes: none;

  &:before,
  &:after {
    content: '';
  }
}

table {
  @include border-collapse();
}

// HTML5 elements reset
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  @include block-display();
}
