@import "../utils/variables";

/* Main */

main {
  background-color: $color-gray;
}

h1, h2 {  
  font-size: 24px;
  font-weight: 700;
  margin: 14px 0px;
}

/* Components */

.local {
  background-color: $very-light-gray;
  text-align: center;
  height: 50px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 3px 9px 0px rgba(0, 0, 0, 0.15);

  &__text, &__icon {
    color: $very-dark-gray;
    text-align: center;
  }

  &__text {
    margin-left: 10px;
  }
}

.hero {
  padding: 35px 0 55px;
  text-align: center;
  gap: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__title {
    padding: 0px 48px;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 300;
    color: $very-dark-gray;
    line-height: 21px;
  }

  &__btn {
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
    background: $color-btn;
    color: white;
    border: none;
    width: 60%;
    height: 50px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);

    &:hover {
      background: $color-btn-hover;
    }
  }
}

/* Middle Section */

.functioning {
  background-color: $color-white;
  padding: 45px 15px;

  &__step {
    background: $color-gray;
    border-radius: 20px;
    height: 65px;
    width: 75vw;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    margin: 0 auto 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: unset;
    cursor: pointer;
    position: relative;
    padding-left: 35px;

    &:hover {
      background: $color-gray;

      .functioning__icon {
        color: $primary;
      }
    }
  }

  &__steps {
    text-align: center;
  }
}

.functioning__icon {
  color: $color-icon;
  width: 20px;
}

span.number {
  background: $primary;
  padding: 5px 9px;
  border-radius: 15px;
  right: 66px;
  color: $color-white;
  position: absolute;
  left: -12px;
  width: 8px;
}

p.text {
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}

/* Bottom Section */

section.restaurants {
  padding: 45px 15px;
}

.restaurant__card {
  position: relative;
  background: #FFFFFF;
  width: 85vw;
  height: 225px;
  margin: 10px 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

article.restaurants_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

span.card__badge {
  position: absolute;
  background: $tertiary;
  color: $dark-cyan;
  padding: 5px 10px;
  border-radius: 2px;
  top: 20px;
  right: 15px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

h3.card__title {
  font-weight: 700;
  font-size: 18px;
}

p.card__subtitle {
  font-weight: 300;
  font-size: 17px;
}

.card__content {
  display: flex;
  justify-content: space-between;
}

i.card__like.menu__like.menu__like--noBg.far.fa-heart.fa-2x {
  color: $color-black;
  position: absolute;
  bottom: 30px;
  right: 15px;
  font-size: 24px;
  transition: color 1s ease-out;
  }

  i.card__like.menu__like.menu__like--bg.fas.fa-heart.fa-2x {
    color: transparent;
    position: absolute;
    bottom: 30px;
    right: 15px;
    font-size: 24px;
    transition: color 1s ease-out;

  &.card__like.menu__like.menu__like--bg.fas.fa-heart.fa-2x:hover {
    color: $secondary;
  }
}

.card__txt {
  display: flex;
  gap: 8px;
  padding: 12px;
  flex-direction: column;
}