@import '../utils/variables';

/* Loader */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
  animation: hideLoader 1000ms forwards;
}

.loader {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.loader div {
  width: 16px;
  height: 16px;
  background-color: $secondary;
  border-radius: 50%;
  animation: grow-shrink 1.5s infinite;
}

.loader div:nth-child(1) {
  animation-delay: 0s;
}

.loader div:nth-child(2) {
  animation-delay: 0.3s;
}

.loader div:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes grow-shrink {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

@keyframes hideLoader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* Main */
main {
  background-color: $color-gray;

  h1,
  h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 14px 0;
  }
}

/* Components */
.local {
  background-color: $very-light-gray;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.15);

  &__text,
  &__icon {
    color: $very-dark-gray;
  }

  &__text {
    margin-left: 10px;
  }
}

.hero {
  padding: 35px 0 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  &__title {
    padding: 0 48px;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 300;
    color: $very-dark-gray;
    line-height: 21px;
  }

  &__btn {
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    margin-bottom: 30px;
    cursor: pointer;
    background: $color-btn;
    color: white;
    border: none;
    width: 230px;
    height: 60px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    opacity: 1;
    transition:
      transform 600ms ease-in-out,
      opacity 600ms ease-in-out;

    &:hover {
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
      transform: scale(1.05);
      opacity: 0.7;
      transition:
        transform 1000ms cubic-bezier(0.32, 0, 0.07, 1),
        opacity 1000ms cubic-bezier(0.32, 0, 0.07, 1);
    }
  }
}

/* Middle Section */

.functioning {
  background: $color-white;
  padding: 45px 15px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;

  &__steps {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  &__step {
    background: $color-gray;
    border-radius: 20px;
    height: 65px;
    width: 75vw;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    margin: 0 auto 24px;
    display: flex;
    align-items: center;
    padding-left: 35px;
    position: relative;
    cursor: pointer;

    &:hover {
      background: $color-gray;

      .functioning__icon {
        color: $primary;
      }
    }
  }

  &__icon {
    color: $color-icon;
    width: 20px;
  }
}

span.number {
  background: $primary;
  padding: 5px 9px;
  border-radius: 15px;
  color: $color-white;
  position: absolute;
  left: -12px;
  width: 8px;
}

p.text {
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}

/* Bottom Section */
section.restaurants {
  padding: 45px 15px;
  display: flex;
  justify-content: center;

  .restaurant__card {
    position: relative;
    background: #ffffff;
    width: 85vw;
    height: 225px;
    margin: 10px 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }

    .card__badge {
      position: absolute;
      background: $tertiary;
      color: $dark-cyan;
      padding: 5px 10px;
      border-radius: 2px;
      top: 20px;
      right: 15px;
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    }

    .card__title {
      font-weight: 700;
      font-size: 18px;
    }

    .card__subtitle {
      font-weight: 300;
      font-size: 17px;
    }

    .card__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .card__txt {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 12px;
    }
  }

  .restaurants_cards {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;

    row-gap: 2rem;
  }
}

/* Like */

.card__like {
  position: absolute;
  bottom: 30px;
  right: 15px;
  font-size: 24px;

  &--noBg {
    .far.fa-heart.fa-2x {
      position: absolute;
    }
  }

  &--bg {
    opacity: 0;
    color: transparent;
    background-clip: text;
    background-image: $color-btn;
    transition: all 1s;

    &.fas.fa-heart.fa-2x:hover {
      opacity: 1;
    }
  }
}

/* Menu Button */
.menu__btn.card__btn {
  display: flex;
  height: 24px;
}

/* Relative Position */
.relative {
  position: relative;
}

/* Responsive Desktop */
@media (min-width: 1024px) {
  h1 {
    &.hero__title {
      font-size: 40px;
    }
  }

  .local {
    box-shadow: none;
  }

  .functioning {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;

    &__container {
      width: 100%;
    }

    &__steps {
      display: flex;
      flex-direction: row;
      gap: 50px;
      justify-content: space-between;
    }

    &__step {
      margin: 0;
    }
  }

  .content__list {
    display: flex;
    justify-content: center;
    width: 75%;
    flex-direction: column;
  }

  section.restaurants {
    display: flex;
    justify-content: center;

    .restaurants_cards {
      grid-template-columns: repeat(2, 1fr);
      height: auto;
      column-gap: 6rem;
    }

    .restaurant__card {
      width: 35vw;
    }
  }
}
