@import '../utils/variables';

// Mixins pour les paddings
@mixin padding($top, $right-left, $bottom) {
  padding: $top $right-left $bottom;
}

// Mixins pour les images de fond
@mixin background-image($url, $x, $y) {
  background: url($url) $x $y no-repeat;
  background-size: cover;
}

// Mobile
main {
  width: 100%;
}

.hero-section {
  width: 100%;
  height: 275px;
  background-size: cover;
}

.img-menu1 {
  @include background-image(
    '/assets/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg',
    0,
    0
  );
}
.img-menu2 {
  @include background-image(
    '/assets/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg',
    0,
    -121px
  );
}
.img-menu3 {
  @include background-image(
    '/assets/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg',
    0,
    0
  );
}
.img-menu4 {
  @include background-image(
    '/assets/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg',
    0,
    0
  );
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.header__back-icon {
  font-size: 17px;
}

.background__menu {
  display: block;
  width: 100%;
  background-color: $color-gray;
  border-radius: 30px 30px 0 0;
  margin-top: -55px;
}

.title__restaurante {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include padding(20px, 10px, 20px);
  font-family: $font-text;

  .title {
    font-family: $font-title;
  }
}

// Menu général
.menu {
  @include padding(20px, 10px, 20px);
}

.menu__category {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &-underline {
    width: 40px;
    border-top: solid 3px $tertiary;
  }

  &-title {
    font-weight: 300;
    font-size: 16px;
  }
}

// Item menu
.menu__item {
  background-color: white;
  border-radius: 15px;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

  &:hover .menu__item-check {
    width: 69px;
    opacity: 1;
    transition: all 1s ease-in-out;
  }

  .menu__item-description {
    padding: 16px;
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .menu__item-check {
    opacity: 0;
    width: 0;
    display: flex;
    justify-content: center;
    height: 100%;
    background: $tertiary;
    align-items: center;
    border-radius: 0 15px 15px 0;

    i.fa-solid.fa-circle-check {
      color: $color-white;
    }
  }

  .menu__item-details {
    display: flex;
    padding-top: 5px;
    margin-bottom: -3px;
  }

  .menu__item-subtitle {
    font-size: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    width: 100%;
  }

  .menu__item-content {
    font-weight: 300;
    font-size: 15px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    width: 100%;
  }

  .menu__item-price {
    font-weight: 700;
    font-size: 15px;
    width: 10%;
  }
}

#order-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

// Desktop
@media (min-width: 1024px) {
  .hero-section {
    height: 383px;
  }

  .img-menu1 {
    @include background-image(
      '/assets/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg',
      0,
      -507px
    );
  }
  .img-menu2 {
    @include background-image(
      '/assets/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg',
      0,
      -1065px
    );
  }
  .img-menu3 {
    @include background-image(
      '/assets/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg',
      0,
      -496px
    );
  }
  .img-menu4 {
    @include background-image(
      '/assets/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg',
      0,
      -581px
    );
  }

  .contenair__menu {
    display: flex;
    justify-content: center;
    background: $color-white;
  }

  .background__menu {
    width: 60%;
    padding-left: 60px;
    padding-right: 60px;
  }

  .menu {
    padding: 20px 115px 20px;
  }

  .title__restaurante {
    justify-content: center;
  }

  .card__like.menu {
    right: 24%;
    font-size: 22px;
    bottom: 16px;
  }

  .menu__item .menu__item-price {
    width: 4%;
  }
}
