// @import "../base/_fonts";

/* Colors */
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$dark-cyan: #008766;
$very-light-gray: #EAEAEA;
$color-white: #FFFFFF;
$color-black: black;
$color-gray: #F6F6F6;
$color-gray-hover: #F5EDFF;
$color-icon: rgb(144, 142, 142);
$very-dark-gray: #353535;
$color-btn: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$color-btn-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
/* Fonts */
$font-title: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;