// @import "../base/_fonts";

/* Colors */
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$dark-cyan: #008766;
$very-light-gray: #eaeaea;
$color-white: #ffffff;
$color-black: black;
$color-gray: #f6f6f6;
$color-gray-hover: #cebce4;
$color-icon: rgb(144, 142, 142);
$very-dark-gray: #353535;
$color-btn: linear-gradient(#9356dc, #ff79da);

/* Fonts */
$font-title: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;
