// @import "../base/_fonts";

/* Colors */
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$dark-cyan: #008766;
$very-light-gray: #EAEAEA;
$color-white: #FFFFFF;
$color-black: black;
$color-gray: #F6F6F6;
$color-gray-hover: #F5EDFF;
$color-icon: rgb(144, 142, 142);
$very-dark-gray: #353535;
$color-btn: linear-gradient(#9356DC, #FF79DA);
$color-btn-hover: linear-gradient(to top, #9356DC, #FF79DA, #FFFFFF 175%);

/* Fonts */
$font-title: 'Shrikhand', cursive;
$font-text: 'Roboto', sans-serif;